.attr-container {
  border: solid black 1px;
  border-radius: 12px;
  padding: 16px;
}

.attr-panel {
  border: solid green 1px;
  border-radius: 10px;
}

.attr-box {
  border: solid black 1px;
  border-radius: 10px;
}

.attr-box-inner {
  background-color: white;
}

.attr-name {
}

.attr-modifier {
 
}

.attr-value {

}
