.attr-outer {
  width: 280px;
  padding: 16px;
  padding-top: 8px;
}

.attr-container {
  border: solid black 2px;
  padding: 16px;
  padding-top: 4px;
  margin-top: 4px;
  border-radius: 16px;
  box-shadow: 4px 4px black;
  background-color: #ffffff;
}

.move-btn {
  cursor: move;
}

hr {
  margin-top: 4px;
}

.attr-panel {
  border: solid black 2px;
  border-radius: 8px;
  padding: 8px;
}

.attr-box {
  border: solid black 1px;
  border-radius: 10px;
}

.attr-box-inner {
  background-color: white;
  margin: 4px;
}

.attr-name {
}

.attr-modifier {
}

.attr-value {
  font-weight: 1000;
  border: solid black 1px;
  border-radius: 6px;
  padding: 3px;
  padding-left: 12px;
  margin-left: 2px;
  margin-right: 2px;
}
