<section
  class="acts-outer"
  cdkDrag
>
  <div class="acts-container">
    <div class="d-flex flex-column">
      <h3
        class="order-2"
        style="text-transform: uppercase; font-size: 1.24rem;"
      >
        Actions 
      </h3>

      <div
        class="order-1 d-flex align-items-center"
        style="margin-bottom: 16px;"
      >
        <button
          class="move-btn mx-auto" 
          cdkDragHandle
        >
          Move
        </button>
      </div>
    </div>

    <hr>

    <div>
      <div
        *ngFor="let action of this.actions"
        style="margin-top: 4px; margin-bottom: 4px;"
        class="acts-panel text-center"
      >
        <div
          class="acts-box-inner row" 
          *ngIf="action.type === 'Melee Weapon Attack'"
        >
          <button
            (click)="this.clickedDetails(action.title)"
            class="col-2"
          >
          {{ this.expanded.has(action.title) ? "Close" : "Expand" }}
          </button>

          <span class="acts-name col-4">
            {{ action.title }}
          </span>
          
          <span class="acts-type col-6">
            {{ action.type }}
          </span>
          <div
            *ngIf="this.expanded.has(action.title)" 
            class="row"
          >
            <hr>
            <span>
              {{ action.on_hit }}
            </span>
          </div>
        </div>

        <div class="acts-box-inner row" *ngIf="action.type === 'Effect'">
          <button
            (click)="this.clickedDetails(action.title)"
            class="col-2"
          >
            {{ this.expanded.has(action.title) ? "Close" : "Expand" }}
          </button>
          <span class="acts-name col-4">
            {{ action.title }}
          </span>
          <!-- TODO - Standardize data in actions to be more presentable & uniform -->
          <span class="acts-type col-6">
            {{ action.type }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="this.showRemoveButton">
    <button>Remove</button>
  </div>
</section>


